.gov-header {
    background-color: black;
    line-height: 1.25;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gov-header__link{
    color: black;
}
.gov-header__link:hover{
    color: white;
}

.gov-header__container {
    text-align: center;
}

.gov-header__name {
    font-size: 200%;
    color: white;
}